.navbar-collapse  {
  text-align: left;
  justify-content: flex-end !important;
}

.git-footer {
  text-align: center;
  font-family: "Tahoma", "Arial", sans-serif;
  font-size: 30px;

  bottom: 0%;
  margin: 0% 0%;
  position: fixed;
}

.footer-link{
  color: #67595E !important;
  font-size: 20px !important;
}

.bg-light {
  background-color: white !important;
  font-family: "Tahoma", "Arial", sans-serif;
}

.nav-link {
  color: #67595E !important;
  font-size: 20px !important;
}

.navbar-collapse {
  text-align: left;
  justify-content: flex-end;
}

.nav-link:hover {
  color: black !important;
}

body {
  font-family: "Tahoma", "Arial", sans-serif;
  color: #67595E;
  background-color: #F8AFA6;
  margin: 20px;
}

.master-container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.border {
  margin: 5px;
  border: 3px solid black;
}

.item {
  width: 100%;
  text-align: center;
  font-size: 40px;
  padding: 5px;
}

.compare {
  width: 100%;
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.comp-item {
  padding: 20px;
  height: 500px;
}

.countdown {
  font-size: 100px !important;
  border: 3px solid #67595E;
}

p {
  font-size: 20px;
}

h1 {
  background-color:#164fab;
}

/* The Masonry Container */
.masonry {
  width: 100%;
  column-gap: 1em;
  padding: 20px;
}

/* The Masonry Brick */
.brick {
  display: inline-block;
  margin: 10px;
  border: 3px solid #F8AFA6;
  padding: 10px;


  text-align: center;
  background-color:#164fab;
  opacity: 0.5;
  color: white;
}

.interests {
  width: auto;
  padding: 15px;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 1;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 1;
  }
}
